<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>Todo</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.todo</param-value>
        </init-param>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.todo.ToDoApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Todo</servlet-name>
        <url-pattern>/todo/*</url-pattern>
    </servlet-mapping>
    <!-- To handle CORS within tomcat config uncomment the following
    <filter>
        <filter-title>CorsFilter</filter-title>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-title>cors.allowed.origins</param-title>
            <param-value>http://localhost:3030</param-value>
        </init-param>
        <init-param>
            <param-title>cors.allowed.methods</param-title>
            <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
        </init-param>
        <init-param>
            <param-title>cors.allowed.headers</param-title>
            <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
        </init-param>
        <init-param>
            <param-title>cors.exposed.headers</param-title>
            <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
        </init-param>
        <init-param>
            <param-title>cors.support.credentials</param-title>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-title>cors.preflight.maxage</param-title>
            <param-value>10</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-title>CorsFilter</filter-title>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->
</web-app>
